<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title></title>
    <meta charset="utf-8" ng-app="exampleApp" />
    <link href="Scripts/bootstrap.css" rel="stylesheet" />
    <link href="Scripts/bootstrap-theme.css" rel="stylesheet" />
    <script src="Scripts/angular.js"></script>
    <style>
        .odd {
            background-color: lightcoral;
        }
        .even {
            background-color: lavenderblush;
        }
    </style>
    <script>
        angular.module("exampleApp", [])
        .controller("DefaultController", function ($scope) {
            $scope.data = {};
            $scope.todos = [
                { action: "Get groceries", complete: false },
                { action: "Call plumber", complete: false },
                { action: "Buy running shoes", complete: true },
                { action: "Buy flowers", complete: false },
                { action: "Call family", complete: false }];
            $scope.viewFile = function () {
                return $scope.isShowList ? 'list.html' : 'table.html';
            };
            $scope.reportChanged = function () {
                console.log("Displayed content:" + $scope.viewFile())
            }
        });
    </script>

</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="DefaultController as defaultCtrl">
        <h3 class="panel-heading">To Do List: (One way data binding)</h3>

        <div>There are {{todos.length}} items</div>
        <div>
            There are <span ng-bind="todos.length"></span> items
        </div>
        <div ng-bind-template=
             "First: {{todos[0].action}}. Second: {{todos[1].action}}">
        </div>
        <div ng-non-bindable>
            AngularJS uses {{ 1 + 1 }} characters for themples
            {{todos.length}}
        </div>
    </div>

    <div id="todoPanel" class="panel" ng-controller="DefaultController as defaultCtrl">
        <h3 class="panel-heading">To Do List: (Two way data binding)</h3>

        <div class="well">
            <div>The first item is: {{todos[0].action}}</div>
        </div>
        <div class="form-group well">
            <label for="firstItem">Set First Item:</label>
            <input name="firstItem" class="form-control" ng-model="todos[0].action" />
        </div>
    </div>

    <div id="todoPanel" class="panel" ng-controller="DefaultController as defaultCtrl">
        <h3 class="panel-heading">To Do List: (Template directives)</h3>
        <div class="well">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="isShowList" />
                    Show list
                </label>
            </div>
        </div>
        <ng-include src="viewFile()" onload="reportChanged()"></ng-include>
    </div>

    <div id="todoPanel" class="panel" ng-controller="DefaultController as defaultCtrl">
        <h3 class="panel-heading">To Do List: (Ng-Switch)</h3>

        <div class="well">
            <div class="radio" ng-repeat="item in ['None', 'Table', 'List']">
                <label ng-cloak>
                    <input type="radio" value="{{item}}" ng-model="data.mode" ng-checked="$first"/>
                    <span ng-bind="item"></span>
                </label>
            </div>
        </div>

        <ng-switch on="data.mode" ng-cloak>
            <div ng-switch-when="Table">
                <ng-include src="'table.html'"></ng-include>
            </div>
            <div ng-switch-when="List">
                <ng-include src="'list.html'"></ng-include>
            </div>
            <div ng-switch-default>
                Select another option to display a layout
            </div>
        </ng-switch>

    </div>

</body>
</html>
